<template>
  <div class="chat">
    <div class="chat-inner">
      <Dialogue :dialogue="dialogue" />
    </div>
    <div class="chat-input">
      <input
        v-model="message"
        @keyup.enter="sendMessage"
        placeholder="Start typing your message and press Enter to send.">
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import Dialogue from './Dialogue'
import { mapGetters } from 'vuex'

export default {
  name: 'chat',
  components: { Dialogue },
  computed: {
    ...mapGetters(['dialogue'])
  },
  watch: {
    dialogue (value) {
      Vue.nextTick(() => {
        const container = this.$el.querySelector('.chat-inner')
        container.scrollTop = container.scrollHeight
      })
    }
  },
  created () {
    this.$store.dispatch('sendMessage', '')
  },
  methods: {
    sendMessage () {
      const m = this.message.trim()
      if (!m.length) { return }
      this.loading = true
      this.$store.dispatch('sendMessage', m)
        .then(() => {
          this.message = ''
          this.loading = false
        })
    }
  },
  data () {
    return {
      message: '',
      loading: false
    }
  }
}
</script>

<style scoped lang="stylus">
.chat
  width 720px
  height 100vh
  margin 0 auto
  background #2E2633
  &-inner
    padding 1rem
    height calc(100% - 64px)
    overflow-y scroll
  &-input
    height 64px
    background white
    & input
      width 100%
      height 100%
      padding 0 1rem
      border none
      outline none
      background inherit
      box-shadow 0 0 2px rgba(0,0,0,.5) inset
@media screen and (max-width: 720px)
  .chat
    width 100%
</style>
