<template>
  <div class="dialogue">
    <div
      v-for="message in dialogue"
      :key="message.id"
      class="message"
      :class="{'right': !message.operator}">
      <div class="message-inner">
        <div class="message-name">{{ message.name }}</div>
        <message
          v-for="(response, index) in message.generic"
          :key="index"
          :response="response"
        />
        <div class="message-meta">
          <span class="message-date">{{ message.date | date }}</span>
          <span class="message-status"></span>
        </div>
        <span class="tile"></span>
      </div>
    </div>
  </div>
</template>

<script>
import message from './Message'

export default {
  name: 'dialogue',
  props: ['dialogue'],
  components: { message },
  filters: {
    date (value) {
      const date = new Date(value)
      return date.toLocaleTimeString("en", {
        hour:'numeric',
        minute:'numeric'
      })
      .replace(/\s/, '')
      .toLowerCase()
    }
  }
}
</script>

<style lang="stylus">
.dialogue
  width 100%
.right
  justify-content flex-end
  & .message-name
    color #4E9717 !important
.message
  margin-bottom 4px
  display flex
  &-inner
    max-width 70%
    padding 0.75em 1em
    background #EDEEF1
    border-radius 3px
    font-size 14px
    line-height 1.5
    position relative
    border 1px solid lighten(gray, 50%)
    box-shadow 0 3px 5px rgba(0,0,0,.15)
    z-index 0
    & p
      margin 0 !important
    &:after
      content ''
      top 1em
      width 10px
      height 10px
      display block
      position absolute
      transform rotate(45deg)
      background #EDEEF1
      z-index -1
  &-date
    color #847370
    margin-top 0.2rem
    font-size 10px
  &-name
    color #99173C
    margin-bottom 0.2rem
    font-weight bold
  &:first-of-type.right
  &:not(.right) + .right
    .message-inner:after
      right -4px
  &:first-of-type:not(.right)
  &.right + &:not(.right)
    .message-inner:after
      left -4px
</style>
