<template>
  <vue-markdown :html="false">{{ response.text }}</vue-markdown>
</template>

<script>
import VueMarkdown from 'vue-markdown'

export default {
  name: 'message-text',
  props: ['response'],
  components: {
    VueMarkdown
  }
}
</script>
