<template>
  <div>
    <component :is="type" :response="response" />
  </div>
</template>

<script>
import MessageText from './MessageText'
import MessageOptions from './MessageOptions'

export default {
  name: 'message',
  props: ['response'],
  components: {
    MessageText,
    MessageOptions
  },
  computed: {
    type () {
      return {
        text: 'MessageText',
        option: 'MessageOptions'
      }[this.$props.response.response_type]
    }
  }
}
</script>
