<template>
  <div>
    <vue-markdown :html="false">{{ response.title }}</vue-markdown>
    <ul
      class="options"
      v-show="active">
      <li
        v-for="(option, index) in response.options"
        :key="index"
        class="options-item">
        <button
          class="options-button"
          @click="select(option.value)">
          <vue-markdown :html="false">{{ option.label }}</vue-markdown>
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
import VueMarkdown from 'vue-markdown'

export default {
  name: 'message-options',
  props: ['response'],
  components: {
    VueMarkdown
  },
  methods: {
    select ({ input }) {
      this.$store.dispatch('sendMessage', input.text)
      this.active = false
    }
  },
  data () {
    return {
      active: true
    }
  }
}
</script>

<style lang="stylus" scoped>
.options
  padding-left 15px
  &-item
    color #a0a0a0
    transition color 150ms ease
    &:hover
      color black
  &-button
    border none
    background none
    outline none
    cursor pointer
</style>
