<template>
  <div id="app">
    <Chat />
  </div>
</template>

<script>
import Chat from './components/Chat'

export default {
  name: 'app',
  components: {
    Chat
  }
}
</script>
<style lang="stylus">
*
  box-sizing border-box
html, body
  margin 0
  padding 0
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50
</style>
